footer {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: black;
  color: #fff;
  letter-spacing: 1px; /* Espaciado entre letras */
  line-height: 40px; /* Altura de línea (separa verticalmente el texto) */
  padding:  20px 40px 20px 120px; /* margen interno: arriba, derecha, abajo, izquierda */
  width: 100%; /* ocupa todo el ancho */
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas iguales */
  align-items: center; /* centra verticalmente los elementos dentro de cada celda */
  width: 90%;   /* grid ocupa menos ancho */
  margin-left: 20px;
}
h4 {
  color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 10px;
  z-index: -1;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espacio entre móvil y correo */
  align-items: flex-start; /* alinea todo a la izquierda dentro de su columna */
  margin-top: -150px;
}

.mobil,
.correo {
  display: flex;          /* los pone en fila */
  align-items: center;    /* centra verticalmente texto con icono */
  gap: 10px;               /* espacio entre icono y texto */
}

.mobil img{
  width: 20px;   /* tamaño más pequeño */
  height: 20px;
}
.correo img {
  width: 20px;   /* tamaño más pequeño */
  height: 20px;
}

.mobil p, .correo p {
  font-size: 16px;
  font-weight: normal;
  margin: 0; /* elimina margen por defecto de h2/h3 */
}

/* columna centro */
.copyright {
  display: flex;
  justify-content: center; /* centra el contenido en horizontal */
  align-items: center; /* centra en vertical */
  font-size: 12px;
  gap: 5px;
  margin-top: 100px;
}

.copyright img{
    width: 20px;
    height: 20px;
}

/* redes a la derecha */
.redes {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.redes img {
  width: 50px;   /* más grande */
  height: 50px;
  transition: transform 0.3s;
}

.redes img:hover {
  transform: scale(1.2); /* agranda más al pasar el mouse */
}
